.games table {
  width: 100%;
  max-width: 640px;
}

.games tr:nth-child(2n) {
  background-color: #eee;
}

.games td {
  padding: 0.5em;
  text-overflow: ellipsis;
}

.games .id,
.games .white,
.games .black {
  text-align: center;
}

.games .game_status {
  text-align: left;
}

.gameover {
  color: #555;
}
