.games table {
  width: 100%;
  max-width: 640px;
}

.challenges tr:nth-child(2) {
  background-color: #eee;
}

.challenges td,
.challenges th {
  padding: 0.5em;
}

.challenges .id,
.challenges .play_as,
.challenges .created_by,
.challenges .opponent {
  text-align: center;
}

@media screen and (min-width: 640px) {
  .challenges-wrapper {
    display: flex;
    flex-direction: row;
  }

  .challenges {
    flex: 4;
  }
  .createChallenge {
    flex: 1;
    margin-left: 1em;
  }
}
